ol {
    list-style-type: none;
    margin: 0
}

li {
    margin: 1rem 0;
    a {
        background: #f4f4f4;
        color: black;
        padding: 1rem;
        display: block;
        text-decoration: none;
    }
    a:hover {
        background-color: #ddd;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        font-size: 0.8rem;
        color: #777;
        font-style: italic;
    }
}